@use "variables" as *;
@use "mixins";

.basket {
  @include mixins.flex(column);
  gap: 2rem;

  &__list {
    @include mixins.flex(column);
    gap: 2rem;
  }

  &__item {

  }

  &__actions {
    @include mixins.flex(row);
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #232427;
    padding-top: 2rem;
    gap: 2rem;
  }

  &__total {
    font-size: 1.5rem;
    font-weight: 500;
    &::after {
        content: " ₽";
    }
  }
}