@use "variables" as *;
@use "mixins";

.form {
  @include mixins.flex(column);
  gap: 1.5rem;
  padding: $defaultPadding;
  border-radius: 3rem;

  &__label {
    flex-grow: 1;
    width: 100%;
  }

  &__input {
    border: 1px solid $secondaryBackground;
    border-radius: 1.5rem;
    padding: 1rem;
    font-size: 1.4rem;
    width: 100%;
    box-sizing: border-box;
    outline-color: $secondary;

    &:focus {
      outline-style: solid;
    }

    &:invalid {
      border-color: $error;
      outline-color: $error;
    }

    &::placeholder {
      color: lighten($primaryLight, 23%);
    }
  }

  &__label_grouped {
    border: 1px solid $secondaryBackground;
    border-radius: 1.5rem;

    .form__input {
      border: 0;

      &:focus {
        outline-style: none;
      }
    }

    &:has(.form__input:focus) {
      outline: 1px solid $secondary;
    }

    &:has(.form__input:invalid) {
      border-color: $error;
      outline-color: $error;
    }
  }

  &__footer {
    @include mixins.flex(row);
    align-items: center;
    gap: 1rem;
  }

  &__errors {
    color: $error;
  }
}
