$primary: #FAD883;
$secondary: #FAD883;
$background: #EEF0F4;
$primaryLight: #3F4B67;
$hover: #DDC17A;
$error: #F18B7E;

$secondaryBackground: #2F3951;
$secondaryHover: #727D95;
$statusDefault: #DCB11B;
$statusOpened: #7CC37F;
$statusClosed: #D35D5D;

$font: 'YS Text', Roboto, Helvetica, Arial, sans-serif;
$titleFont: 'Garamond', sans-serif;
$fontMono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$baseFontSize: 20px;
$baseFontColor: #2F3951;

$mainFontSize: 1.4em;
$titleFontSize: 6em;
$headerElementsSize: 3.5rem;
$headerHeight: 5.5rem;

$maxPageWidth: 1110px;
$defaultPadding: 3rem;
$extendedPadding: 4.75rem;

$defaultBorder: 1px solid gray;
$overlayBackground: rgba(0, 0, 0, 0.8);
$borderRadius: 4rem;
